<li class="article-list">
    <h3>{{title}}</h3>
    <p>{{summary}}</p>
    <a href="{{link}}" target="_blank">Click here to see the full story.</a>
    <button class="save-article" data-id="{{id}}" data-title="{{title}}">Save Article</button>
</li>
<br>