<li>
    <h3>{{title}}</h3>
    <p>{{summary}}</p>
    <a href="{{link}}" target="_blank">Click here to see the full story.</a>
    <button class="article-notes" data-id="{{id}}">Article Notes</button>
    <button class="delete-saved" data-id="{{id}}">Delete From Saved</button>
</li>
<br>