<li class="article-list">
    <h3>{{title}}</h3>
    <p>{{summary}}</p>
    <a href="{{link}}" target="_blank">Click here to see the full story.</a>
    <button class="article-notes" data-toggle="modal" data-target="#notes-modal" data-id="{{id}}"
        data-title="{{title}}">Article Notes</button>
    <button class="delete-saved" data-id="{{id}}">Delete From Saved</button>
</li>
<br>